@if(cadastroForm.controls){
<div class="container mt-5">
    
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="card p-4 shadow">
        <h2 class="card-title text-center mb-4">Crie sua Conta</h2>
        
        <div class="form-group mb-3">
            <label for="nome">Nome</label>
            <input 
                id="nome" 
                type="text" 
                formControlName="nome"
                class="form-control"
                [class.is-invalid]="f['nome'].invalid && f['nome'].touched"
            >

            @if (f['nome'].invalid && f['nome'].touched) {
             <div class="invalid-feedback">
                @if (f['nome'].hasError('required')) {
                <p>O nome é obrigatório.</p>
                }
            </div>
        }
        </div>

        <div class="form-group mb-3">
            <label for="nome">Sobrenome</label>
            <input 
                id="sobrenome" 
                type="text" 
                formControlName="sobrenome"
                class="form-control"
                [class.is-invalid]="f['sobrenome'].invalid && f['sobrenome'].touched">

            @if (f['sobrenome'].invalid && f['sobrenome'].touched) {
                <div class="invalid-feedback">
                    @if (f['sobrenome'].hasError('required')) {
                        <p>O nome é obrigatório.</p>
                        }
                    </div>
        }
        </div>
        

        <div class="form-group mb-3">
            <label for="matricula">Matrícula</label>
                <input
                    id="matricula"
                    type = "text"
                    formControlName = "matricula"
                    class = "form-control"
                    [class.is-invalid]="f['matricula'].invalid && f['matricula'].touched">

                    @if(f['matricula'].invalid && f['matricula'].touched){
                        <div class="invalid-feedback">
                            @if(f['matricula'].hasError('required')){
                                <p>A matrícula é obrigatória</p>
                            }

                            @if(f['matricula'].hasError('minLength') && f['matricula'].hasError('maxLength')){
                                <p>Matrícula possui menos que 7 caracteres</p>
                            }
                        </div>
                    }
        </div>


        <div class = "form-group mb-3">
            <label for = "curso">Curso</label>
            <input
                id = "curso"
                type = "search"
                formControlName = "curso"
                class = "form-control"
                placeholder="Digite seu curso"
                [(ngModel)]="textoBusca"
                (input)="filtra()"
                [class.is-invalid]="f['curso'].invalid && f['curso'].touched"
            >
            
            @if(f['curso'].invalid && f['curso'].touched){
                <div class = "invalid-feedback">
                    @if(f['curso'].hasError('required')){
                        <p>Campo não escolhido</p>
                    }
                </div>
            }
        </div>


        <div class="form-group mb-3">
            <label for="email">E-mail</label>
            <input 
                id="email" 
                type="email" 
                formControlName="email"
                class="form-control"
                [class.is-invalid]="f['email'].invalid && f['email'].touched"
            >
            <div *ngIf="f['email'].invalid && f['email'].touched" class="invalid-feedback">
                <p *ngIf="f['email'].hasError('required')">O e-mail é obrigatório.</p>
                <p *ngIf="f['email'].hasError('email')">Formato de e-mail inválido.</p>
            </div>
        </div>
        
        <div formGroupName="senhas">
            
            <div class="form-group mb-3">
                <label for="senha">Senha</label>
                <input 
                    id="senha" 
                    type="password" 
                    formControlName="senha"
                    class="form-control"
                    [class.is-invalid]="cadastroForm.get('senhas.senha')?.invalid && cadastroForm.get('senhas.senha')?.touched"
                >
                <div *ngIf="cadastroForm.get('senhas.senha')?.invalid && cadastroForm.get('senhas.senha')?.touched" class="invalid-feedback">
                    <p *ngIf="cadastroForm.get('senhas.senha')?.hasError('required')">A senha é obrigatória.</p>
                    <p *ngIf="cadastroForm.get('senhas.senha')?.hasError('minlength')">A senha deve ter no mínimo 6 caracteres.</p>
                </div>
            </div>
            
            <div class="form-group mb-3">
                <label for="confirmaSenha">Confirmar Senha</label>
                <input 
                    id="confirmaSenha" 
                    type="password" 
                    formControlName="confirmaSenha"
                    class="form-control"
                    [class.is-invalid]="(cadastroForm.get('senhas.confirmaSenha')?.invalid && cadastroForm.get('senhas.confirmaSenha')?.touched) || (cadastroForm.get('senhas')?.hasError('passwordsDoNotMatch') && cadastroForm.get('senhas.confirmaSenha')?.touched)"
                >
                
                <div *ngIf="cadastroForm.get('senhas.confirmaSenha')?.invalid && cadastroForm.get('senhas.confirmaSenha')?.touched" class="invalid-feedback">
                    <p *ngIf="cadastroForm.get('senhas.confirmaSenha')?.hasError('required')">A confirmação de senha é obrigatória.</p>
                    <p *ngIf="cadastroForm.get('senhas.confirmaSenha')?.hasError('passwordsDoNotMatch')">As senhas não coincidem.</p>
                </div>
            </div>
        </div>
        
        <button type="submit" [disabled]="cadastroForm.invalid" class="btn btn-primary w-100 mt-3">
            Cadastrar
        </button>

    </form>
</div>
}